body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.add {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-size: big;
    text-decoration: underline;
    color: #00203FFF;
}

.add:hover {
    font-size: medium;
    color: red;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  size:
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#content {
    height: 300px;
}

.update {
    text-decoration: none;
    color: black;
}

button:hover {
    color: red;
    cursor: pointer;
}

button a:hover {
    color: red;
    cursor: pointer;
}

button, button a {
    color: black;
    font-size: big;
}