<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Masterblog</title>
</head>
<body>
    <h1>Welcome to my masterblog!</h1>
    <a href="{{ 'add' }}" class="redirect">Add a new blog post</a>
    {% for blog in posts %}
    <div class="post">
        <h2>{{ blog.title }}</h2>
        <p><em>Written by: {{ blog.author }}</em></p>
        <p>{{ blog.content }}</p>
        <form method="POST" action="/delete/{{ blog.id }}">
            <button type="submit">Delete</button>
        </form>
        <button><a href="{{ url_for('update', post_id=blog.id) }}" class="update">Update</a></button>
    </div>
    {% endfor %}
</body>
</html>